@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}
nav{
    padding: 10px 40px;
    z-index: 1;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
}
.form-control{
    background: #F2F2F2;
    border-radius: 21px;
    padding-left: 40px;
    width: 25vw;
}
#search-icon{
    position: relative;
    left: 30px;
}
.account{
    font-weight: 400;
}
#highlight{
    color: #2F6CE5;
    font-weight: 900;
}
#background{
    background: url('Assets/background.svg');
    object-fit: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
}
.gradient{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px 0px 110px 150px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%);
    height:-webkit-fill-available;
}
#details{
    color: #F2F2F2;
    font-weight: 900;
}
#details>p{
    font-weight: 100;
    padding-left: 20px;
}
.header{
    position: sticky;
    z-index: 1;
    top: 50px;
    display: flex;
    gap: 20px;
    margin: 40px 100px 10px 100px;
    line-height: 50px;
    background-color: #fff;
    border-bottom: #8A8A8A solid 1px;
}
.dropdown{
    margin-left: auto;
}
.header>a{
    text-decoration: none;
    color: #8A8A8A;
}
.header>a:active{
    color:#000000;
    border-bottom: #000000 solid 2px;
}
.header>a.focus{
    color:#000000;
    border-bottom: #000000 solid 2px;
}
.btn-primary{
    height: 37px;
}
.shift{
    margin-right: 5px;
}
.location>p{
    opacity: 60%;
}
b{
    margin: 5px 0px;
    font-size: 20px;
}
.card-text{
    opacity: .7;
    /* margin-bottom: 5px; */
}
svg{
    cursor: pointer;
}
.modal-backdrop{
    z-index: 0;
}
